 /*Color Theme Swatches in Hex - use these:
.Architectural-studio-branding-⎯-©ARCSTUDIO-1-hex { color: #6A736D; } = light khaki
.Architectural-studio-branding-⎯-©ARCSTUDIO-2-hex { color: #54594F; } = khaki
.Architectural-studio-branding-⎯-©ARCSTUDIO-3-hex { color: #F2F2F2; } = white
.Architectural-studio-branding-⎯-©ARCSTUDIO-4-hex { color: #A6A6A6; } = gray
.project-portfolio-4-hex { color: #9D9652; } = lime


 Color Theme Swatches in Hex 
.project-portfolio-1-hex { color: #4B493C; } = dark green
.project-portfolio-2-hex { color: #737329; } = light green
.project-portfolio-3-hex { color: #BFA77A; } = beige
.project-portfolio-5-hex { color: #72513E; } = brown
.Architectural-studio-branding-⎯-©ARCSTUDIO-5-hex { color: #0D0D0D; } = black 


/* ShipporiMincho font-family */
 @font-face {
     font-family: "ShipporiMincho-ExtraBold";
     src: url(./fonts/ShipporiMincho-ExtraBold.ttf);
 }

 @font-face {
     font-family: "ShipporiMincho-Bold";
     src: url(./fonts/ShipporiMincho-Bold.ttf);
 }

 @font-face {
     font-family: "ShipporiMincho-SemiBold";
     src: url(./fonts/ShipporiMincho-SemiBold.ttf);
 }

 @font-face {
     font-family: "ShipporiMincho-Medium";
     src: url(./fonts/ShipporiMincho-Medium.ttf);
 }

 @font-face {
     font-family: "ShipporiMincho-Regular";
     src: url(./fonts/ShipporiMincho-Regular.ttf);
 }

 * {
     padding: 0;
     margin: 0;
     scroll-behavior: smooth;
 }

 body {
     background-color: #F2F2F2;
     font-family: "ShipporiMincho-Regular", sans-serif;
     color: #3A3730;
     font-size: 16px;
 }

 /*Navigation bar*/

 nav {
     display: flex;
     justify-content: center;
     width: 100%;
     margin: auto;
     top: 0;
     padding: 0.625rem 0rem;
     position: fixed;
     background-color: #F2F2F2;
 }

 nav a {
     text-decoration: none;
     color: #6A736D;
     font-family: "ShipporiMincho-SemiBold", serif;
     padding: 0rem 0.625rem;

 }

 nav a:hover,
 .icons:hover {
     transform: scale(1.05);
     color: #9D9652;
 }

 nav .icons {
     color: #6A736D;
 }


 /* BANNER */
 .banner {
     margin: auto;
     width: 65%;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     height: 40rem;
     padding-bottom: 6.25rem;
 }

 .banner-text {
     text-align: left;
     display: flex;
     justify-content: space-evenly;
     height: 12.5rem;
     flex-direction: column;
 }

 h1 {
     color: #54594F;
     font-family: "ShipporiMincho-ExtraBold", serif;
     font-size: 3.125rem;
 }

 .banner-text p {
     color: #9D9652;
     width: 80%;
 }

 .banner-options {
     display: flex;
     flex-direction: row;
     text-align: left;
     font-size: 0.875rem;
 }

 .banner-options a {
     margin: 1.25rem 3.125rem 0.625rem 0rem;
     text-decoration: none;
 }

 .banner-options div {
     background-color: #6A736D;
     color: #F2F2F2;
     padding: 0.125rem 0.313rem;
     border-radius: 0.125rem;
 }

 .banner-options div:hover {
     background-color: #9D9652;
 }

 .banner-img {
     height: 15.625rem;
     border-radius: 0.125rem;
 }

 .banner-img:hover {
    animation-name: floating-image;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
  }
  
  @keyframes floating-image {
    0% {transform: translateY(0rem);} 
    50% {transform: translateY(-2.5rem);}
    100% {transform: translateY(-0rem);}
  }




 /* STYLE FOR ALL SECTIONS*/

 .content-section {
     margin: 0 auto;
     width: 60%;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     padding-top: 9.375rem;
 }

 .subsection-title {
     width: 40%;
 }

 .subsection-img {
     width: 90%;
     height: inherit;
     object-fit: cover;
     padding-top: 1.25rem;
 }

 .subsection-text {
     width: 60%;
     padding-left: 1.25rem;
     border-left: #72513E 0.0625rem solid;
     text-align: justify;
 }

 .subsection-text a{
    color: #3A3730;
 }

 .content-section h2 {
     font-family: "ShipporiMincho-Bold";
     font-size: 2.813rem;
     color: #9D9652;
 }

 .content-section li {
     list-style: none;
     padding-left: 0.9375rem;
 }

 .span-styling {
     font-family: "ShipporiMincho-ExtraBold";
     color: #9D9652;
 }


 .symbols-styling {
     padding-right: 0.313rem;
     color: #9D9652;
 }

 /*PROJECTS SECTION*/
 #projects-section {
     margin: 0 auto;
     width: 60%;
     text-align: justify;
     padding-top: 9.375rem;
 }

 #projects-section h2 {
     font-family: "ShipporiMincho-Bold";
     font-size: 2.813rem;
     color: #9D9652;
     padding-bottom: 1.25rem;
     border-bottom: #72513E 0.0625rem solid;
 }

 .project-individual {
     width: 21.875rem;
     padding: 0.625rem;
     margin: 1.25rem;
    
 }

  @keyframes floating-project {
    0% {transform: translateY(0);} 
    50% {transform: translateY(-0.938rem);}
    100% {transform: translateY(-0px);}
 }

 .project-description:hover {
    /*translate: 0px -2px ;*/
    animation-name: floating-project;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

 .project-individual h3 {
     color: #72513E;
    
 }

 .projects-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .projects-options {
     padding-top: 0.625rem;

 }

 .projects-options a {
     font-size: 0.875rem;
     padding-right: 1.25rem;
        color: #9D9652;
 }

 .programming-languages {
     color: #9D9652;
 }

 /*CONVERSATION.HTML*/

.return-homepage span{
    font-size: 1.5rem;
}

form{
    padding-top: 0.5rem;

}

.form-container{
    width: 60%;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: row;
    height:20rem;
    background-color: #9D9652;
}

.form-left{
    display: flex;
    width: 100%;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9D9652;
}

.form-bottom{
    font-size: 0.7rem;
    text-align: center;
    font-family: "ShipporiMincho-Medium";
    width: 100%;
    padding-top: 1rem;
}

form label{
    font-size: 1rem;
    font-family: "ShipporiMincho-Medium";
}

.form-inputs {
    width: 20rem;
    height: 1.5rem;
    margin:0.5rem 0rem 1.5rem 0rem;
    border: none;
    background-color: #F2F2F2;
    border-radius: 0.08rem;
}

.form-inputs:hover{
    background-color: #737329a1;
}

.form-buttons:hover{
    color: #F2F2F2;
    background-color: #72513E;
}

.form-buttons{
    width: 4rem;
    font-family: "ShipporiMincho-SemiBold";
    background-color: #F2F2F2;
    color: #72513E;
    border: none;
    border-radius: 0.08rem;
    padding-bottom: 0.2rem;
}

img{
    height: 30rem;
}

.form-img{
    height: 30rem;
    object-fit: cover;
}
  

.illustration-credits{
    visibility: hidden;
    font-size: 0.7rem;
    padding: 0.2rem;
    background-color: #9d96525a;
    border-radius: 0.06rem;
    align-items: center;
    animation-name: fadingIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

@keyframes fadingIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.form-img:hover .illustration-credits{
    visibility: visible;
}


 /*FOOTER*/
footer{
    text-align: center;
    align-content: center;
    font-size: 14px;
    height: 200px;

}

/*min screen-width = 2650px*/
@media  screen and (min-width: 2560px) {
    body{
        font-size: 2rem;
    }

    nav a {
        padding: 0rem 2rem;
    }

    .banner{
        height: 100rem;
        width: 80%;
    }

    .banner-img{
        height: 32rem;
    }

    .banner-text{
        height: 30rem;
    }

    h1 {
        font-size: 7rem;
    }

    .banner-options{
        font-size: 1.8rem;
    }

    @keyframes floating-project {
        0% {transform: translateY(0);} 
        50% {transform: translateY(-5rem);}
        100% {transform: translateY(-0px);}
     }

    .content-section, #projects-section {
        width: 75%;
        padding-top: 25rem;
    }

    .content-section h2, #projects-section h2{
        font-size: 6rem;
    }

    #projects-section h2{
        padding-bottom: 2.5rem;
        border-bottom: #72513E 0.0625rem solid;
        margin-bottom: 3rem;
    }

    .project-individual{
        padding: 4rem 0rem;
        width: 50rem;
    }

    .projects-options span{
        font-size: 2.2rem;
    }

    .projects-options a{
        font-size: 1.7rem;
        padding-right: 3rem;
    }

    .symbols-styling {
        padding-right: 1.1rem;
    }

.return-homepage span{
    font-size: 3.5rem;
}

.conversation-navbar a{
    font-size: 3rem;
}

form{
    padding-top: 0.5rem;

}

.form-container{
    width: 80%;
    margin: 7.5rem auto;
    display: flex;
    flex-direction: row;
    height:85rem;
}

.form-left{
    display: flex;
    width: 100%;
    height: 85rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9D9652;
}

.form-bottom{
    font-size: 1.2rem;
    text-align: center;
    font-family: "ShipporiMincho-Medium";
    width: 100%;
    padding-top: 1rem;
}

form label{
    font-size: 2.5rem;
    font-family: "ShipporiMincho-Medium";
}

.form-inputs {
    width: 50rem;
    height: 3rem;
    margin: 0.5rem 0rem 3rem 0rem;
    border: none;
    background-color: #F2F2F2;
    border-radius: 0.08rem;
}

.form-inputs:hover{
    background-color: #737329a1;
}

.form-buttons:hover{
    color: #F2F2F2;
    background-color: #72513E;
}

.form-buttons{
    width: 10rem;
    font-family: "ShipporiMincho-SemiBold";
    background-color: #F2F2F2;
    color: #72513E;
    border: none;
    border-radius: 0.08rem;
    padding-bottom: 0.2rem;
    font-size: 2rem;
}

img{
    height: 85rem;
}

.form-img{
    height: 85rem;
    object-fit: cover;
}
  

.illustration-credits{
    visibility: hidden;
    font-size: 0.7rem;
    padding: 0.2rem;
    background-color: #9d96525a;
    border-radius: 0.06rem;
    align-items: center;
    animation-name: fadingIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

@keyframes fadingIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.form-img:hover .illustration-credits{
    visibility: visible;
    font-size: 1.5rem;
}

    footer{
        font-size: 1.5rem;
        padding-top: 10rem;
        height: 10rem;
    }
}

/*max screen-width = 1024px */
@media screen and  (max-width: 1024px) {
    body{
        font-size: 0.8rem;
    }

    .banner{
        height: 40rem;
    }

    .banner-img{
        height: 11.5rem;
    }

    .banner-text{
        height: 9.5rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    .banner-options{
        font-size: 0.7rem;
    }

    .content-section h2, #projects-section h2{
        font-size: 2rem;
    }

    #projects-section h2{
        padding-bottom: 0.5rem;
    }

    .project-individual{
        padding: 0rem;
        width: 15rem;
    }

    .projects-options span{
        font-size: 0.55rem;
    }

    .projects-options a{
        font-size: 0.7rem;
    }

    .return-homepage span{
        font-size: 1.5rem;
    }

    .conversation-navbar a{
        font-size: 1.5rem;
    }

    .form-container {
        width: 80%;
    }
    
    .form-img:hover .illustration-credits {
        font-size: 0.5rem;
    }

    footer{
        font-size: 0.65rem;
        padding-top: 2rem;
        height: 10rem;
    }
}

/*max screen-width = 768px*/
@media screen and (max-width:768px){
    body{
        font-size: 0.7rem;
    }

header{
    border-bottom:0.01rem solid #54594F ;
}

    .banner{
        height: 35rem;
        width: 85%;
        padding-bottom: 1rem;
        justify-content: space-between;
    }

    .banner-img{
        height: 11rem;
    }

    @keyframes floating-image {
        0% {transform: translateY(0rem);} 
        50% {transform: translateY(-1rem);}
        100% {transform: translateY(-0rem);}
      }

    .banner-text{
        height: 9.5rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    .banner-options{
        font-size: 0.6rem;
    }

    .banner-options a{
        margin: 0.5rem 3rem 0.625rem 0rem;
    }

    .content-section, #projects-section{
        width: 75%;
        padding-top: 5rem;
    }

    .content-section h2, #projects-section h2{
        font-size: 2rem;
    }

    #projects-section h2{
        padding-bottom: 0.5rem;
    }

    .project-individual{
        padding: 0rem;
        width: 15rem;
    }

    .projects-options span{
        font-size: 0.55rem;
    }

    .projects-options a{
        font-size: 0.65rem;
    }

    .conversation-navbar a{
        font-size: 1.3rem;
    }

    .conversation-navbar a {
        font-size: 1.2rem;
    }



    .form-container {
        width: 70%;
    }

    form {
        padding-top: 1rem;
    }


    .form-left {
        height: 10rem;
    }

    .form-bottom {
        font-size: 0.5rem;
        padding-top: 2rem;
    }

    
form label {
    font-size: 0.8rem;
}

.form-buttons {
    width: 2rem;
    font-size: 0.8rem;
}

.form-img{
    height: 20rem;
}

img {
    height: 20rem;
}

    .form-inputs {
        width: 12rem;
        height: 0.9rem;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }

    footer{
        font-size: 0.5rem;
        margin-top: 3rem;
        padding-top: 1rem;
        height: 5rem;
        border-top: #54594F solid 0.01rem;
    }
}

/*max screen-width = 475px
    min screen- width = 320px*/
@media screen and (min-width:320px) and (max-width:475px){
    body{
        font-size: 0.5rem;
    }

header{
    border-bottom:0.01rem solid #54594F ;
}

    .banner{
        height: 30rem;
        width: 90%;
        padding-bottom: 1rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .banner p{
        width: 100%;
    }

    .banner-img{
        visibility: hidden;
        width: 0rem;
    }

    @keyframes floating-image {
        0% {transform: translateY(0rem);} 
        50% {transform: translateY(-1rem);}
        100% {transform: translateY(-0rem);}
      }

    .banner-text{
        height: 6rem;
        text-align: center;
        width: 100%;
    }

 

    .banner-options{
        font-size: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }

    .banner-options a{
        margin: 1rem;
        
    }


    .content-section, #projects-section{
        width: 80%;
        padding-top: 3rem;
    }

    .content-section h2, #projects-section h2{
        font-size: 1.2rem;
    }

    #projects-section h2{
        padding-bottom: 0.2rem;
    }

    .project-individual{
        padding: 0rem;
        width: 25rem;
    }

    .projects-options span{
        font-size: 0.4rem;
    }

    .projects-options a{
        font-size: 0.5rem;
    }

    .return-homepage span {
        font-size: 1.1rem;
    }

    .conversation-navbar a {
        font-size: 0.9rem;
    }

    .form-container {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .form-left {
        height: 17rem;
    }

    form label {
        font-size: 0.6rem;
    }

    .form-inputs {
        width: 5rem;
        height: 0.6rem;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }

    .form-buttons {
        width: 1.5rem;
        font-size: 0.5rem;
    }

    .form-bottom {
        font-size: 0.4rem;
        padding-top: 0.5rem;
    }

    .form-img {
        height: 13.3rem;
    }

    img {
        height: 10rem;
    }

    footer{
        font-size: 0.4rem;
        margin-top: 3rem;
        padding-top: 1rem;
        height: 2rem;
        border-top: #54594F solid 0.01rem;
    }
}



